
# Copy this to .env and fill in your real Binance API keys

API_KEY=ZAMh9m1RzG4S3CNjEQ9IivUL9hFNLpxwshsihmv4VbeEE0zAAvtg37s2KkNwKHrF
API_SECRET=tolmdr8sp2ODgLNvIhVD2UyWJ7KluF4YGTExxtEMTT3gzI07hNqUwQSLKFceZdgw
